.prgwid
  height: 240px
  &-h
    height: 40px
    padding: 0 16px
    display: flex
    align-items: center
    background-color: $grey
  &-title
    +bold
    font-size: 21px
    color: $text-white
  &-b
    padding: 18px 10px
    height: calc(100% - 40px)
    display: flex
    align-items: center
    &-chart
      flex: 0 0 50%
  &-progress
    &__wrap
      display: flex
      align-items: center
      justify-content: center
    &__inner
      color: $text-dark
  &-list
    border-left: 1px solid rgba($text, 0.5)
    padding-left: 20px
    display: flex
    flex-direction: column
    gap: 14px
  &-item
    &-value
      +semibold
      font-size: 21px
      color: $text-dark
    &-label
      +reg
      font-size: 14px
      color: $text-dark
